<head>
<link href="https://fonts.googleapis.com/css2?family=Protest+Revolution&family=Instrument+Sans:wght@400;700&display=swap" rel="stylesheet">
</head>

<body class="home-background mt-5 d-flex flex-column align-items-center justify-content-center">

<div class="col-6 margin-auto mt-3 bg-blur p-5">

  <h2>Sign up</h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :username,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "username" , placeholder: "UserName"} %>

    <%= f.input :email,
                required: true,
                input_html: { autocomplete: "email" } %>

    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>

    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>

    <%= f.input :height,
                required: true,
                label: "Height (cm)",
                input_html: { step: 0.1, min: 0, max: 240 } %>

    <%= f.input :weight,
                required: true,
                label: "Weight (kg)",
                input_html: { step: 0.1, min: 0, max: 200 } %>

    <%= f.input :gender,
                required: true,
                as: :select,
                collection: ['male', 'female', 'other'],
                prompt: "Select your gender" %>

    <%= f.input :photos, as: :file, input_html: { multiple: true } %>



  <div class="form-actions">
    <%= f.button :submit, "Sign up", class: "btn btn-primary mt-5 mb-3" %>
  </div>
</div>
<% end %>

<%= render "devise/shared/links" %><br>

</body>

