<div class="mx-5 my-3">
  <div class="d-flex flex-row align-items-center mb-5  ">
    <%= link_to context_path(@look.context), class: "btn btn-link mx-0" do %>
      <i class="fa-solid fa-angle-left fa-lg" style="color: #000000;"></i>
    <% end %>
    <h2 class="mb-0"><%= @look.name %></h2>
  </div>

  <div class="row g-3">
    <% @pieces.values.first.each do |piece| %>
      <% api_key = ENV["UNSPLASH_API_KEY"]
         url = "https://api.unsplash.com/search/photos?client_id=#{api_key}&page=1&query=#{piece["unsplash_query"]}"
         image_serialized = URI.parse(url).read
         image = JSON.parse(image_serialized) %>

      <div class="col-12 col-md-6 col-lg-4">
        <div class="card h-100 rounded-3 shadow-lg">
          <div class="d-flex align-items-center justify-content-center gap-20">
            <div class="col-6" style="overflow:hidden">
            <div class="card m-3" style="background-image: url('<%= image["results"][0]["urls"]["small"]%>');width:300px;height:300px;background-size: cover;background-position: center;"></div>
              <%# <img src="<%= image["results"][0]["urls"]["small"]" style="width:100%;height:auto;display:block"> %>
            </div>
            <div class="col-6">
              <div class="card-body">
                <h5 class="card-title mb-1"><%= piece["name"] %></h5>
                <p class="card-text small text-muted mb-2"><%= piece["description"] %></p>
                <p class="mb-1"><strong><%= piece["clothing_category"].capitalize %></strong></p>
                <p class="mb-2"><%= piece["price"] %>€</p>
                <a href="<%= piece["shop_url"] %>" class="btn btn-dark py-3 rounded-3 btn-sm">Shop it now!</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
