<div class="container my-3">
  <h1><%= @look.name %></h1>

  <div class="row g-1 justify-content-space-evenly" style="justify-content: space-between">
  <% @pieces.values.first.each do |piece| %>
    <div class="col-5 col-lg-2">
      <div class="card bg-white">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" class="card-img-top" alt="...">
        <div class="card-body pt-0 px-0">
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong><%= piece["clothing_category"].capitalize %></strong></li>
          </ul>
          <h5 class="card-title"><%= piece["name"] %></h5>
          <p class="card-text"><%= piece["description"] %></p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><%= piece["price"] %>€</li>
        </ul>
        <div class="card-body">
          <a href="<%= piece["shop_url"] %>" class="btn btn-primary w-100">Shop!</a>
        </div>
      </div>
    </div>
  <% end %>
  </div>
<%= link_to "Back to list of looks", context_path(@look.context) %>

  <% @pieces.values.first.each do |piece| %>
<div class="card-product my-3 w-100">
      <img src="" />
      <div class="card-product-infos my-3 w-100">
        <div class="d-flex justify-content-between">
          <h2 class="mt-3"><%= piece["name"] %></h2>
          <p>Category: <strong><%= piece["clothing_category"].capitalize %></strong></p>
        </div>
        <p><strong>Relevance:</strong> <%= piece["description"] %></p>
        <p><strong>Brand:</strong> <%= piece["brand"] %></p>
        <div class="d-flex justify-content-between">
          <p><strong>Price:</strong> <%= piece["price"] %>€</p>
        </div>
      </div>
    </div>

  <% end %>
</div>
