<div class="col-6 m-auto mt-3">

<h1>My profile</h1>


<ul>
  <li><strong>Username:</strong> <%= current_user.username %></li>
  <li><strong>Email:</strong> <%= current_user.email %></li>
  <li><strong>Password:</strong> ********</li>
  <li><strong>Height:</strong> <%= current_user.height %></li>
  <li><strong>Weight:</strong> <%= current_user.weight %></li>
  <li><strong>Gender:</strong> <%= current_user.gender %></li>
  <li><strong>Photos:</strong> <%= current_user.photos %></li>
</ul>


<%= link_to "Edit", edit_user_registration_path %>
</div>
