<div class="justify-content-center m-3">
  <h2>Previous Searches</h2>
  <div class="d-flex overflow-auto">
    <% @contexts.each do |context| %>
      <div class="border rounded-3 bg-white flex-shrink-0 m-3 p-3 rounded-3 d-flex align-content-between flex-wrap shadow-sm" style="width: 300px;">
        <h3 class="text-dark text-capitalize" ><%= context.objective %></h3>
        <%= link_to "SEE RESULTS", context_path(context), class: "text-dark fs-6 text-decoration-none" %>
      </div>
    <% end %>
  </div>
</div>


<div class="container col-8">


<div class="bg-gradient pt-3">
  <div class="border rounded-3 shadow-lg w-100">
    <div class="p-5">
      <%= simple_form_for [@user, @context] do |f| %>
        <%= f.input :objective,
            placeholder: "What type of outfit are you looking for?",
            required: true,
            label: false,
            as: :text,
            input_html: { class: "form-control form-control-lg border-0 shadow-sm mb-4", rows: 3 } %>

        <%= f.input :budget,
            collection: %w[€ €€ €€€ €€€€],
            input_html: { class: "form-select form-select-lg border-0 shadow-sm mb-4" } %>

        <%= f.submit "Find my look!",
            class: "btn btn-dark btn-lg w-100 shadow" %>
      <% end %>
    </div>
  </div>
</div>
