<div class="container col-6">

  <div class="justify-content-center m-3">
   <h2>PAST SEARCH</h2>
    <div>
        <% @looks.each do |look| %>
          <div class="border m-2">
            <h4 class="m-2"><%= look.name %></h4>
            <p class="m-2"><%= look.description %></p>
            <%= link_to "Go for this look", look_path(look) %>
          </div>
        <% end %>
    </div>
  </div>

<div class="bg-gradient pt-3">
  <div class="border-0 shadow-lg w-100">
    <div class="p-5">
      <%= simple_form_for [@user, @context] do |f| %>
        <%= f.input :objective,
            placeholder: "What type of outfit are you looking for?",
            required: true,
            label: false,
            as: :text,
            input_html: { class: "form-control form-control-lg border-0 shadow-sm mb-4", rows: 4 } %>

        <%= f.input :budget,
            collection: %w[€ €€ €€€ €€€€],
            input_html: { class: "form-select form-select-lg border-0 shadow-sm mb-4" } %>

        <%= f.submit "Find my look!",
            class: "btn btn-dark btn-lg w-100 shadow" %>
      <% end %>
    </div>
  </div>
</div>

</div>
