<div class="container d-flex justify-content-center m-5">
  <div class="row">
      <% @contexts.each do |context| %>
        <div class="col-3 border m-2" style="width: 400px; height:250px">
          <h4 class="m-2"><%= context.objective %></h4>
        <%= link_to "Go for this context", context_path(context) %>
        </div>
      <% end %>
  </div>
</div>

<div>
<%= simple_form_for [@user, @context] do |f| %>
  <%= f.input :objective, placeholder: "Why do you want a new outfit", required: true, label: false, class:"user_input" %>
  <%= f.input :budget, :collection => %w[50-100€ 100-200€ 300-500€ 1000-1500€] %>
  <%= f.submit "Find my look !" %>
<% end %>
</div>
