<h2>Show page</h2>
<div class="container">
  <% @looks.each do |look| %>
    <div class="col-3 border m-2" style="width: 400px; height:200px;">
      <h4 class="m-2"><%= look["name"] %></h4>
      <p class="m-2"><%= look["description"] %></p>
      <%= link_to "Go to the products", look_path() %>
    </div>
  <% end %>
</div>

<%= simple_form_for @context do |f| %>
  <%= f.input :objective, placeholder: "You can precise your demand", required: true, label: false %>
  <%= f.submit "Adapt my demand" %>
<% end %>
