<!DOCTYPE html>
<html>
<%# ../../assets/images/logo_vestiary.png %>
  <head>
    <title>Vestiary</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= favicon_link_tag 'logo_vestiary.png' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link href="https://fonts.googleapis.com/css2?family=Protest+Revolution&family=Instrument+Sans:wght@400;700&display=swap" rel="stylesheet">
  </head>

  <body>
    <% unless devise_controller? && (action_name == 'new' || action_name == 'create') %>
      <%= render 'devise/shared/navbar' %>
    <% end %>
    <%= yield %>
  </body>
</html>
